/* style.css */

/* General body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #C7F9CC;
    margin: 0;
    padding: 0;
}

/* Navbar styling */
.navbar {
    background-color:#80ED99;
    color: white;
    padding:1px;
    text-align: center;
}

/* Links in navbar */
.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Buttons */
button {
    background-color: #22577A;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color:#22577A;
}

/* Forms */
input[type="text"], input[type="email"], input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Center form */
form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #38A3A5;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}
