/* style.css */

/* General body styles */
body {
    font-family: inter;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Navbar styling */
.navbar {
    background-color: #80ED99;
    color: white;
    padding: 12px;
    text-align: center;
    z-index: 1000;
}

.navbar>.container-fluid>.navbar-nav>li>a {
    color: white;
}

.navbar>.container-fluid>.navbar-nav>li>a:hover {
    text-decoration: underline;
}

.dropdown-item {
    color: black;
}

.dropdown-item:hover {
    background-color: #80ED99;
    color: white;
}


button {
    background-color: #22577A;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #22577A;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form {
    max-width: 400px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-left: 1rem;

}

.mainbody-mainpage {
    background-image: url(background.jpg);
    background-size: cover;
    /* fills the area */
    background-position: center;
    /* keeps it centered */
    background-repeat: no-repeat;
    /* no tiling */
    height: 90vh;
    /* full screen height */
    width: 100%;
    /* full width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* vertically center content */
    align-items: center;
    /* horizontally center content */
    color: white;
}

article{
    background-color: rgb(172, 244, 179);
    padding: 10px;
    align-items: center;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    padding: 30px;
    font-size: large;
    
}